# Azure libraries
azure-ai-inference
azure-data-tables>=12.6
azure-functions>=1.21
azure-identity>=1.21
azure-keyvault-secrets>=4.9
azure-storage-blob>=12.25
azure-storage-queue>=12.12

# RSS parsing
feedparser>=6.0

# Microsoft Graph & O365 libraries
msal>=1.32
msgraph-core>=1.3
msgraph-sdk>=1.24
O365>=2.1

# AI and data manipulation
openai>=1.66
pandas>=2.2
xxhash>=3.5
beautifulsoup4>=4.13
nltk>=3.8

# Post processing
markdown>=3.7
